.message-group
	.hljs:before
		pointer-events: none
		display: block
		margin: 0 0 10px 0
		font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

	& .hljs[class~="1c" i]:before
		content: "1c"

	& .hljs[class~="abnf" i]:before
		content: "ABNF"

	& .hljs[class~="accesslog" i]:before
		content: "Access Log"

	& .hljs[class~="actionscript" i]:before
		content: "ActionScript"

	& .hljs[class~="as" i]:before
		content: "ActionScript"

	& .hljs[class~="ada" i]:before
		content: "Ada"

	& .hljs[class~="apache" i]:before
		content: "Apache"

	& .hljs[class~="apacheconf" i]:before
		content: "Apache"

	& .hljs[class~="applescript" i]:before
		content: "Applescript"

	& .hljs[class~="osascript" i]:before
		content: "Applescript"

	& .hljs[class~="arduino" i]:before
		content: "Arduino"

	& .hljs[class~="armasm" i]:before
		content: "ARM Assembly"

	& .hljs[class~="arm" i]:before
		content: "ARM Assembly"

	& .hljs[class~="asciidoc" i]:before
		content: "AsciiDoc"

	& .hljs[class~="adoc" i]:before
		content: "AsciiDoc"

	& .hljs[class~="aspectj" i]:before
		content: "AspectJ"

	& .hljs[class~="atom" i]:before
		content: "Atom Feed (XML)"

	& .hljs[class~="autohotkey" i]:before
		content: "AutoHotkey"

	& .hljs[class~="autoit" i]:before
		content: "AutoIt"

	& .hljs[class~="avrasm" i]:before
		content: "AVR Assembler"

	& .hljs[class~="awk" i]:before
		content: "Awk"

	& .hljs[class~="mawk" i]:before
		content: "Awk"

	& .hljs[class~="nawk" i]:before
		content: "Awk"

	& .hljs[class~="gawk" i]:before
		content: "Awk"

	& .hljs[class~="axapta" i]:before
		content: "Axapta"

	& .hljs[class~="bash" i]:before
		content: "Bash"

	& .hljs[class~="sh" i]:before
		content: "Bash"

	& .hljs[class~="zsh" i]:before
		content: "Bash"

	& .hljs[class~="basic" i]:before
		content: "Basic"

	& .hljs[class~="dos" i]:before
		content: "Batch"

	& .hljs[class~="bat" i]:before
		content: "Batch"

	& .hljs[class~="cmd" i]:before
		content: "Batch"

	& .hljs[class~="bnf" i]:before
		content: "BNF"

	& .hljs[class~="brainfuck" i]:before
		content: "Brainfuck"

	& .hljs[class~="c" i]:before
		content: "C/C++"

	& .hljs[class~="cc" i]:before
		content: "C/C++"

	& .hljs[class~="cpp" i]:before
		content: "C/C++"

	& .hljs[class~="h" i]:before
		content: "C/C++"

	& .hljs[class~="hpp" i]:before
		content: "C/C++"

	& .hljs[class~="cs" i]:before
		content: "C#"

	& .hljs[class~="csharp" i]:before
		content: "C#"

	& .hljs[class~="cal" i]:before
		content: "CAL"

	& .hljs[class~="capnproto" i]:before
		content: "Cap'n Proto"

	& .hljs[class~="capnp" i]:before
		content: "Cap'n Proto"

	& .hljs[class~="ceylon" i]:before
		content: "Ceylon"

	& .hljs[class~="clean" i]:before
		content: "Clean"

	& .hljs[class~="clojure" i]:before
		content: "Clojure"

	& .hljs[class~="clj" i]:before
		content: "Clojure"

	& .hljs[class~="clojure-repl" i]:before
		content: "Clojure REPL"

	& .hljs[class~="cmake" i]:before
		content: "CMake"

	& .hljs[class~="coffeescript" i]:before
		content: "CoffeeScript"

	& .hljs[class~="coffee" i]:before
		content: "CoffeeScript"

	& .hljs[class~="cson" i]:before
		content: "CoffeeScript"

	& .hljs[class~="iced" i]:before
		content: "CoffeeScript"

	& .hljs[class~="coq" i]:before
		content: "Coq"

	& .hljs[class~="cos" i]:before
		content: "Caché Object Script"

	& .hljs[class~="cls" i]:before
		content: "Caché Object Script"

	& .hljs[class~="podspec" i]:before
		content: "CocoaPod"

	& .hljs[class~="crmsh" i]:before
		content: "crmsh"

	& .hljs[class~="crm" i]:before
		content: "crmsh"

	& .hljs[class~="pcmk" i]:before
		content: "crmsh"

	& .hljs[class~="crystal" i]:before
		content: "Crystal"

	& .hljs[class~="csp" i]:before
		content: "CSP"

	& .hljs[class~="css" i]:before
		content: "CSS"

	& .hljs[class~="d" i]:before
		content: "D"

	& .hljs[class~="dart" i]:before
		content: "Dart"

	& .hljs[class~="delphi" i]:before
		content: "Delphi (Object Pascal)"

	& .hljs[class~="dfm" i]:before
		content: "Delphi (Object Pascal)"

	& .hljs[class~="dpr" i]:before
		content: "Delphi (Object Pascal)"

	& .hljs[class~="diff" i]:before
		content: "Diff"

	& .hljs[class~="patch" i]:before
		content: "Diff"

	& .hljs[class~="django" i]:before
		content: "Django"

	& .hljs[class~="jinja" i]:before
		content: "Django"

	& .hljs[class~="dns" i]:before
		content: "DNS Zone File"

	& .hljs[class~="dockerfile" i]:before
		content: "Dockerfile"

	& .hljs[class~="docker" i]:before
		content: "Dockerfile"

	& .hljs[class~="dsconfig" i]:before
		content: "dsconfig"

	& .hljs[class~="dts" i]:before
		content: "Device Tree"

	& .hljs[class~="dust" i]:before
		content: "Dust"

	& .hljs[class~="ebnf" i]:before
		content: "EBNF"

	& .hljs[class~="elixir" i]:before
		content: "Elixir"

	& .hljs[class~="elm" i]:before
		content: "Elm"

	& .hljs[class~="erb" i]:before
		content: "ERB"

	& .hljs[class~="erlang" i]:before
		content: "Erlang"

	& .hljs[class~="erl" i]:before
		content: "Erlang"

	& .hljs[class~="erlang-repl" i]:before
		content: "Erlang REPL"

	& .hljs[class~="excel" i]:before
		content: "Excel"

	& .hljs[class~="xls" i]:before
		content: "Excel"

	& .hljs[class~="xlsx" i]:before
		content: "Excel"

	& .hljs[class~="fs" i]:before
		content: "F#"

	& .hljs[class~="fsharp" i]:before
		content: "F#"

	& .hljs[class~="fix" i]:before
		content: "Fix"

	& .hljs[class~="flix" i]:before
		content: "Flix"

	& .hljs[class~="fortran" i]:before
		content: "Fortran"

	& .hljs[class~="f90" i]:before
		content: "Fortran"

	& .hljs[class~="f95" i]:before
		content: "Fortran"

	& .hljs[class~="gams" i]:before
		content: "GAMS"

	& .hljs[class~="gms" i]:before
		content: "GAMS"

	& .hljs[class~="gauss" i]:before
		content: "Gauss"

	& .hljs[class~="gss" i]:before
		content: "Gauss"

	& .hljs[class~="gcode" i]:before
		content: "G-code"

	& .hljs[class~="nc" i]:before
		content: "G-code"

	& .hljs[class~="gherkin" i]:before
		content: "Gherkin"

	& .hljs[class~="glsl" i]:before
		content: "GLSL"

	& .hljs[class~="go" i]:before
		content: "Go"

	& .hljs[class~="golang" i]:before
		content: "Go"

	& .hljs[class~="golo" i]:before
		content: "Golo"

	& .hljs[class~="gololang" i]:before
		content: "Golo"

	& .hljs[class~="gradle" i]:before
		content: "Gradle"

	& .hljs[class~="groovy" i]:before
		content: "Groovy"

	& .hljs[class~="haml" i]:before
		content: "Haml"

	& .hljs[class~="handlebars" i]:before
		content: "Handlebars"

	& .hljs[class~="hbs" i]:before
		content: "Handlebars"

	& .hljs[class~="haskell" i]:before
		content: "Haskell"

	& .hljs[class~="hs" i]:before
		content: "Haskell"

	& .hljs[class~="haxe" i]:before
		content: "Haxe"

	& .hljs[class~="hx" i]:before
		content: "Haxe"

	& .hljs[class~="hsp" i]:before
		content: "HSP"

	& .hljs[class~="html" i]:before
		content: "HTML"

	& .hljs[class~="htmlbars" i]:before
		content: "HTMLBars"

	& .hljs[class~="http" i]:before
		content: "HTTP"

	& .hljs[class~="https" i]:before
		content: "HTTPS"

	& .hljs[class~="hy" i]:before
		content: "Hy"

	& .hljs[class~="hylang" i]:before
		content: "Hy"

	& .hljs[class~="inform7" i]:before
		content: "Inform7"

	& .hljs[class~="i7" i]:before
		content: "Inform7"

	& .hljs[class~="ini" i]:before
		content: "Ini"

	& .hljs[class~="irpf90" i]:before
		content: "IRPF90"

	& .hljs[class~="java" i]:before
		content: "Java"

	& .hljs[class~="jsp" i]:before
		content: "Java"

	& .hljs[class~="javascript" i]:before
		content: "JavaScript (Babel)"

	& .hljs[class~="js" i]:before
		content: "JavaScript (Babel)"

	& .hljs[class~="jsx" i]:before
		content: "JavaScript (Babel)"

	& .hljs[class~="xjb" i]:before
		content: "JAXB (XML)"

	& .hljs[class~="jboss-cli" i]:before
		content: "JBoss CLI"

	& .hljs[class~="json" i]:before
		content: "JSON"

	& .hljs[class~="julia" i]:before
		content: "Julia"

	& .hljs[class~="julia-repl" i]:before
		content: "Julia REPL"

	& .hljs[class~="kotlin" i]:before
		content: "Kotlin"

	& .hljs[class~="lasso" i]:before
		content: "Lasso"

	& .hljs[class~="lassoscript" i]:before
		content: "Lasso"

	& .hljs[class~="ls" i]:before
		content: "Lasso"

	& .hljs[class~="ldif" i]:before
		content: "LDIF"

	& .hljs[class~="leaf" i]:before
		content: "Leaf"

	& .hljs[class~="less" i]:before
		content: "Less"

	& .hljs[class~="lisp" i]:before
		content: "Lisp"

	& .hljs[class~="livecodeserver" i]:before
		content: "LiveCode Server"

	& .hljs[class~="livescript" i]:before
		content: "LiveScript"

	& .hljs[class~="ls" i]:before
		content: "LiveScript"

	& .hljs[class~="llvm" i]:before
		content: "LLVM IR"

	& .hljs[class~="lsl" i]:before
		content: "LSL"

	& .hljs[class~="lua" i]:before
		content: "Lua"

	& .hljs[class~="makefile" i]:before
		content: "Makefile"

	& .hljs[class~="mk" i]:before
		content: "Makefile"

	& .hljs[class~="mak" i]:before
		content: "Makefile"

	& .hljs[class~="markdown" i]:before
		content: "Markdown"

	& .hljs[class~="md" i]:before
		content: "Markdown"

	& .hljs[class~="mkd" i]:before
		content: "Markdown"

	& .hljs[class~="mkdown" i]:before
		content: "Markdown"

	& .hljs[class~="mathematica" i]:before
		content: "Mathematica"

	& .hljs[class~="mma" i]:before
		content: "Mathematica"

	& .hljs[class~="matlab" i]:before
		content: "MatLab"

	& .hljs[class~="maxima" i]:before
		content: "Maxima"

	& .hljs[class~="mel" i]:before
		content: "MEL"

	& .hljs[class~="mercury" i]:before
		content: "Mercury"

	& .hljs[class~="mipsasm" i]:before
		content: "MISP Assembly"

	& .hljs[class~="mips" i]:before
		content: "MISP Assembly"

	& .hljs[class~="routeros" i]:before
		content: "Microtik RouterOS script"

	& .hljs[class~="mizar" i]:before
		content: "Mizar"

	& .hljs[class~="mojolicious" i]:before
		content: "Mojolicious"

	& .hljs[class~="monkey" i]:before
		content: "Monkey"

	& .hljs[class~="moonscript" i]:before
		content: "MoonScript"

	& .hljs[class~="moon" i]:before
		content: "MoonScript"

	& .hljs[class~="n1ql" i]:before
		content: "N1QL"

	& .hljs[class~="nginx" i]:before
		content: "Nginx"

	& .hljs[class~="nginxconf" i]:before
		content: "Nginx"

	& .hljs[class~="nimrod" i]:before
		content: "Nimrod"

	& .hljs[class~="nix" i]:before
		content: "Nix"

	& .hljs[class~="nsis" i]:before
		content: "NSIS"

	& .hljs[class~="objectivec" i]:before
		content: "Objective-C"

	& .hljs[class~="ocaml" i]:before
		content: "OCaml"

	& .hljs[class~="openscad" i]:before
		content: "OpenSCAD"

	& .hljs[class~="scad" i]:before
		content: "OpenSCAD"

	& .hljs[class~="ruleslanguage" i]:before
		content: "Oracle Rules Language"

	& .hljs[class~="oxygene" i]:before
		content: "Oxygene"

	& .hljs[class~="parser3" i]:before
		content: "Parser3"

	& .hljs[class~="pascal" i]:before
		content: "Pascal/Object Pascal"

	& .hljs[class~="pas" i]:before
		content: "Pascal/Object Pascal"

	& .hljs[class~="freepascal" i]:before
		content: "Pascal/Object Pascal"

	& .hljs[class~="lazarus" i]:before
		content: "Pascal/Object Pascal"

	& .hljs[class~="lfm" i]:before
		content: "Pascal/Object Pascal"

	& .hljs[class~="lpr" i]:before
		content: "Pascal/Object Pascal"

	& .hljs[class~="perl" i]:before
		content: "Perl"

	& .hljs[class~="pl" i]:before
		content: "Perl"

	& .hljs[class~="pm" i]:before
		content: "Perl"

	& .hljs[class~="pf" i]:before
		content: "PF"

	& .hljs[class~="pf.conf" i]:before
		content: "PF"

	& .hljs[class~="php" i]:before
		content: "PHP"

	& .hljs[class~="php3" i]:before
		content: "PHP"

	& .hljs[class~="php4" i]:before
		content: "PHP"

	& .hljs[class~="php5" i]:before
		content: "PHP"

	& .hljs[class~="php6" i]:before
		content: "PHP"

	& .hljs[class~="pony" i]:before
		content: "Pony"

	& .hljs[class~="powershell" i]:before
		content: "PowerShell"

	& .hljs[class~="ps" i]:before
		content: "PowerShell"

	& .hljs[class~="processing" i]:before
		content: "Processing"

	& .hljs[class~="prolog" i]:before
		content: "Prolog"

	& .hljs[class~="plist" i]:before
		content: "Property List"

	& .hljs[class~="protobuf" i]:before
		content: "Protocol Buffers"

	& .hljs[class~="puppet" i]:before
		content: "Puppet"

	& .hljs[class~="pp" i]:before
		content: "Puppet"

	& .hljs[class~="purebasic" i]:before
		content: "PureBASIC"

	& .hljs[class~="python" i]:before
		content: "Python"

	& .hljs[class~="py" i]:before
		content: "Python"

	& .hljs[class~="gyp" i]:before
		content: "Python"

	& .hljs[class~="profile" i]:before
		content: "Python profile"

	& .hljs[class~="q" i]:before
		content: "Q"

	& .hljs[class~="k" i]:before
		content: "Q"

	& .hljs[class~="kdb" i]:before
		content: "Q"

	& .hljs[class~="qml" i]:before
		content: "QML"

	& .hljs[class~="r" i]:before
		content: "R"

	& .hljs[class~="rib" i]:before
		content: "RenderMan RIB"

	& .hljs[class~="rsl" i]:before
		content: "RenderMan RSL"

	& .hljs[class~="roboconf" i]:before
		content: "Roboconf"

	& .hljs[class~="graph" i]:before
		content: "Roboconf"

	& .hljs[class~="instances" i]:before
		content: "Roboconf"

	& .hljs[class~="rss" i]:before
		content: "RSS Feed (XML)"

	& .hljs[class~="ruby" i]:before
		content: "Ruby"

	& .hljs[class~="rb" i]:before
		content: "Ruby"

	& .hljs[class~="thor" i]:before
		content: "Thor"

	& .hljs[class~="irb" i]:before
		content: "IRB"

	& .hljs[class~="gemspec" i]:before
		content: "Ruby Gem"

	& .hljs[class~="rust" i]:before
		content: "Rust"

	& .hljs[class~="rs" i]:before
		content: "Rust"

	& .hljs[class~="scala" i]:before
		content: "Scala"

	& .hljs[class~="scheme" i]:before
		content: "Scheme"

	& .hljs[class~="scilab" i]:before
		content: "Scilab"

	& .hljs[class~="sci" i]:before
		content: "Scilab"

	& .hljs[class~="scss" i]:before
		content: "SCSS"

	& .hljs[class~="shell" i]:before
		content: "Shell"

	& .hljs[class~="console" i]:before
		content: "Shell"

	& .hljs[class~="smali" i]:before
		content: "Smali"

	& .hljs[class~="smalltalk" i]:before
		content: "Smalltalk"

	& .hljs[class~="st" i]:before
		content: "Smalltalk"

	& .hljs[class~="sml" i]:before
		content: "SML"

	& .hljs[class~="sqf" i]:before
		content: "SQF"

	& .hljs[class~="sql" i]:before
		content: "SQL"

	& .hljs[class~="stan" i]:before
		content: "Stan"

	& .hljs[class~="stata" i]:before
		content: "Stata"

	& .hljs[class~="step21" i]:before
		content: "STEP Part 21"

	& .hljs[class~="step" i]:before
		content: "STEP Part 21"

	& .hljs[class~="stp" i]:before
		content: "STEP Part 21"

	& .hljs[class~="p21" i]:before
		content: "STEP Part 21"

	& .hljs[class~="stylus" i]:before
		content: "Stylus"

	& .hljs[class~="styl" i]:before
		content: "Stylus"

	& .hljs[class~="subunit" i]:before
		content: "SubUnit"

	& .hljs[class~="swift" i]:before
		content: "Swift"

	& .hljs[class~="taggerscript" i]:before
		content: "Tagger Script"

	& .hljs[class~="tap" i]:before
		content: "TAP"

	& .hljs[class~="tcl" i]:before
		content: "Tcl"

	& .hljs[class~="tk" i]:before
		content: "Tcl"

	& .hljs[class~="tex" i]:before
		content: "TeX"

	& .hljs[class~="thrift" i]:before
		content: "Thrift"

	& .hljs[class~="tp" i]:before
		content: "TP"

	& .hljs[class~="twig" i]:before
		content: "Twig"

	& .hljs[class~="craftcms" i]:before
		content: "Twig"

	& .hljs[class~="typescript" i]:before
		content: "TypeScript"

	& .hljs[class~="ts" i]:before
		content: "TypeScript"

	& .hljs[class~="vala" i]:before
		content: "Vala"

	& .hljs[class~="vbnet" i]:before
		content: "VB.NET"

	& .hljs[class~="vb" i]:before
		content: "VB.NET"

	& .hljs[class~="vbscript" i]:before
		content: "VBScript"

	& .hljs[class~="vbs" i]:before
		content: "VBScript"

	& .hljs[class~="verilog" i]:before
		content: "Verilog"

	& .hljs[class~="v" i]:before
		content: "Verilog"

	& .hljs[class~="vhdl" i]:before
		content: "VHDL"

	& .hljs[class~="vim" i]:before
		content: "Vim Script"

	& .hljs[class~="x86asm" i]:before
		content: "x86 Assembly"

	& .hljs[class~="xl" i]:before
		content: "XL"

	& .hljs[class~="tao" i]:before
		content: "XL"

	& .hljs[class~="xquery" i]:before
		content: "XQuery"

	& .hljs[class~="xq xpath" i]:before
		content: "XQuery"

	& .hljs[class~="yaml" i]:before
		content: "YAML"

	& .hljs[class~="yml" i]:before
		content: "YAML"

	& .hljs[class~="xhtml" i]:before
		content: "XHTML"

	& .hljs[class~="xml" i]:before
		content: "XML"

	& .hljs[class~="xsd" i]:before
		content: "XML Schema"

	& .hljs[class~="xsl" i]:before
		content: "XSL"

	& .hljs[class~="zephir" i]:before
		content: "Zephir"

	& .hljs[class~="zep" i]:before
		content: "Zephir"

