/* Chat
 * Tweak chat area
 */

// Make embed square
.da-embedPill, .da-embedInner
	border-radius: 0
.da-embedVideoActions .da-wrapper
	border-radius: 0

// Make reaction button square
.da-reaction
	border-radius: 0

// Make mention square
.da-isMentioned::after
	border-radius: 0

// Make new message bar square
.da-newMessagesBar
	border-radius: 0

// Make attached image square
.da-imageWrapper
	border-radius: 0

// Make unread indicator circle
.da-unread:not(.da-unreadTop, .da-unreadBottom)
	left: 5px
	border-radius: 50%
	width: 7px
	height: @width

// Hide chat divider
.da-divider:not(.da-dividerRed)
	display: none

// Simple new message divider
.da-dividerContent
	&::before, &::after
		border: none
		flex: none
		margin-top: -1.15rem
	/*
	&::before
		content: "≫"
		margin-right: 4px
	*/
	&::after
		content: "≫"
		margin-left: 4px