/* Guilds
 * Tweak guilds list
 */

.da-guilds div[class*="selected-"]
	// Make selected indicator more thin
	&::before
		margin-left: 9px
		border-radius: 5px
		width: 5px
		height: 30px
		margin-top: -15px
	// Make selected guild icon more square
	.da-guildInner
		border-radius: 5px !important

.da-guildsWrapper .da-scroller
	margin-top: 4.5rem
	padding-top: 0
div[class*="guild-"]:first-child
	position: fixed
	top: 2rem