/* Modal
 * Tweak modal
 */

// Make channel topic modal square
.da-modal
	border-radius: 0

/* User modal */
// Make user profile modal square
.da-modal .da-root
	border-radius: 0

// Make connected account square
.da-connectedAccount
	border-radius: 0

// Clean border
.da-userInfoSection + .da-userInfoSection
	border: none
.da-tabBarContainer
	border: none

// Make header black
.da-topSectionPlaying
	background-color: #202225

// Make button square (ex. Send friend request / message)
.da-button
	border-radius: 0

.tab-bar-item
	border-bottom-width: 3px !important