/* Modal
 * Tweak modal
 */

// Make channel topic modal square
.da-modal
	border-radius: 0

// Make user profile modal square
.da-modal .da-root
	border-radius: 0

// Make connected account square
.da-connectedAccount
	border-radius: 0

// Clean border
.da-userInfoSection + .da-userInfoSection
	border: none

.da-topSectionPlaying
	background-color: #202225
